body{
	margin:0;
	padding: 0;
	background-color: #8FBC8F ;
	background-size: Cover;
	background-position: Center;
	font-family: Arial;
}

h1{
	font-family: Comic san;
	font-size: 50px;
	font-style: bold;
}

P{
	font-family: Comic san;
	font-size: 30px;
font-style: italic;

}
	table{


font-family: Comic san;
	font-size: 30px;
font-style: italic;		
	
	
		
		}
		
		h2{
			font-family: arial;
			font-size: 50px;
			font-style: bold;
		}
	





